
{% extends "base.html" %} 
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="background-container">
  <img  class="ilustrate-logo d-none d-md-block" src="{% static 'italianissimo/media/ilustrate-logo.png' %}">
  <div class="auth-form col-11 col-lg-4">
    <h3 class="decorated"><span>{% trans "Sign In" %}</span></h3>
    <p>Dear customer, in order to <u>make a booking</u>, <u>leave a review</u> or <u>add meals to favourite</u>, please login.</p>
  
    <form class="login" method="POST" action="{% url 'account_login' %}">
      <div class="input-container">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
      </div>
      <small>{% blocktrans %}If you have not created an account yet, then please
        <a class="authenticate-link" href="{{ signup_url }}"><b>SIGN UP</b></a> first.{% endblocktrans %}</small> <br>
      <button class="primaryAction form-submit" type="submit">{% trans "Sign In" %} &raquo;</button>
    </form>
  </div>
</div>
{% endblock %}
