@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Courgette&family=Marck+Script&family=Tiro+Devanagari+Marathi:ital@1&display=swap');

* {
    box-sizing: border-box;
}

body {
    color: #3a3a3a;
    font-family: 'Tiro Devanagari Marathi', serif;
    scroll-behavior: smooth;


}

.content-wrapper {
    background-image: url('https://res.cloudinary.com/useriasminna/image/upload/v1655288956/background_zunvm3.webp');
    background-size: contain;
    background-repeat: round;

    width: 100%;

}

.content {
    margin: 0 auto;
    color: antiquewhite;

    background-color: #140c08b0;
    box-shadow: 0px 0px 50px 50px #140c08b0;
}

.flex {

    display: flex;
}

.sp-around {
    justify-content: space-around;
}

.f-colum {
    flex-direction: column;
}

.a-center {
    align-items: center;
}

.size-m {
    font-size: medium;
}

/* ----------------------TEXT DECORATION----------------------------- */
.decorated {
    overflow: hidden;
    text-align: center;
}

.decorated>span {
    position: relative;
    display: inline-block;
}

.decorated>span:before,
.decorated>span:after {
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 2px solid;
    width: 591px;
    margin: 0 20px;
}

.decorated>span:before {
    right: 100%;
}

.decorated>span:after {
    left: 100%;
}

/* ----------------------NAVBAR----------------------------- */
.logo {
    font-family: 'Cinzel', serif;
}

.navigation {
    padding-left: 20px;
}

.navigation i {
    color: #3a3a3a;
    margin-right: -2px;
}

.navbar {
    background-color: antiquewhite;
    font-family: 'Courgette', cursive;
    box-shadow: rgb(0 0 0 / 9%) 0px 2px 1px, rgb(0 0 0 / 9%) 0px 4px 2px, rgb(0 0 0 / 9%) 0px 8px 4px, rgb(0 0 0 / 9%) 0px 16px 8px, rgb(0 0 0 / 9%) 0px 32px 16px;
    z-index: 1;
}

.navbar li {
    margin-right: 15px;
    transition: all 0.5 ease-in-out;
}


.navbar li:hover:not(.active) {
    cursor: pointer;
    transform: scale(1.1);
    overflow: hidden;

}

.nav-link:focus,
.nav-link:hover {
    color: #3a3a3a;
}

.active {
    transform: scale(1.1);
}

.active a {
    color: #3a3a3a;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.offcanvas {
    background-color: antiquewhite;
}

#home-background-container {
    height: 93vh;
    background-image: url('https://res.cloudinary.com/useriasminna/image/upload/v1654783262/462778_1_t7h5iz.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, 
                rgba(0, 0, 0, 0.09) 0px 4px 2px, 
                rgba(0, 0, 0, 0.09) 0px 8px 4px, 
                rgba(0, 0, 0, 0.09) 0px 16px 8px, 
                rgba(0, 0, 0, 0.09) 0px 32px 16px;
    position: relative;
    border-bottom: 5px solid antiquewhite;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#fade-container {
    padding: 20px 12px;

    background-color: antiquewhite;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    margin-bottom: 20px;

    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#fade-container h1 {
    font-size: 6vh;
}

.slogan {
    font-family: 'Marck Script', cursive;
    font-size: 5vh;
}

/* ----------------------LOGIN LINK ANIMATION----------------------------- */

.bck-login {
    background-color: #050301b3;
    color: antiquewhite;
    letter-spacing: 2px;
    padding: 5px;
    margin-bottom: 0;
}

.bck-login p {
    margin: 0;
    font-size: 14px;
}

.bck-login a {
    color: #ddeda9;
    box-shadow: 0 0 0 0 rgb(234, 229, 229);
    transform: scale(1);
    animation: pulse 3s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(248, 222, 178, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(237, 233, 215, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(248, 222, 178, 0);
    }
}


/* ----------------------ARROWS ANIMATION----------------------------- */

.arrows-link-container {

    position: relative;
    height: 70px;
    width: 75px;

    top: 160%;
    left: 50%;
    transform: translateX(-50%);
}

.arrow {
    opacity: 0;
    position: absolute;
    left: 26%;
    top: 40%;
    transform-origin: 50% 50%;
    transform: translate3d(-50%, -50%, 0);
}

.arrow-first {
    animation: arrow-movement 2s ease-in-out infinite;
}

.arrow-second {
    animation: arrow-movement 2s 1s ease-in-out infinite;
}

.arrow:before,
.arrow:after {
    background: #000;
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
}

.arrow:before {
    transform: rotate(45deg) translateX(-23%);
    transform-origin: top left;
}

.arrow:after {
    transform: rotate(-45deg) translateX(23%);
    transform-origin: top right;
}

@keyframes arrow-movement {
    0% {
        opacity: 0;
        top: 0%;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.home-container {
    text-align: center;
}

.home-container h2 {
    margin: 8vh auto 30px;
}

#about-us img {
    height: 22vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    margin-bottom: 15px;
}

#about-us img:nth-child(2) {
    margin-top: 50px;
}

.footer{
    z-index: 1;
    background-color: antiquewhite;
    color: #3a3a3a;
}

footer a{
    color: #3a3a3a;
}

footer a:hover{
    color: #3a3a3a;
}

footer i:hover{
    cursor: pointer;
    transform: scale(1.1);
    color: #3a3a3a;
}
/* --------------------------------------------------- SMALL AND MEDIUM DEVICES------------------------------------------------------------------*/
@media (max-width: 992px) {


    /* ----------------------NAVBAR----------------------------- */
    .active {
        transform: scale(1.1) translateX(17px);
    }

    .navbar li:hover:not(.active),
    .navbar li:focus:not(.active) {
        transform: scale(1.1) translateX(17px);


    }

    #home-background-container {
        height: 50vh;
    }

    #fade-container h1 {
        font-size: 3.6vh;
    }

    .slogan {
        font-size: 3vh;
    }

    .content {
        box-shadow: 0px 0px 40px 40px #140c08b0;
    }

    .home-container h2{
        margin-top: 5vh;
        width: 100%;
    }

    #about-us img {
        height: auto;
        width: 100%;
    }

}


/* --------------------------------------------------- SMALL DEVICES------------------------------------------------------------------*/
@media (max-width: 768px) {
    #fade-container h1 {
        font-size: 3.6vh;
    }

    .slogan {
        font-size: 3vh;
    }

    .content {
        box-shadow: 0px 0px 20px 20px #140c08b0;
    }
}