@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Courgette&family=Marck+Script&family=Tiro+Devanagari+Marathi:ital@1&display=swap');

* {
    box-sizing: border-box;
}

body {
    color: #3a3a3a;
    font-family: 'Tiro Devanagari Marathi', serif;
    scroll-behavior: smooth;


}

.content-wrapper {
    background-image: url('https://res.cloudinary.com/useriasminna/image/upload/v1655288956/background_zunvm3.webp');
    background-size: contain;
    background-repeat: round;

    width: 100%;
    min-height: 90vh;

}

.content {
    margin: 0 auto;
    color: antiquewhite;

    background-color: #140c08b0;
    box-shadow: 0px 0px 50px 60px #140c08b0;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.flex {

    display: flex;
}

.sp-around {
    justify-content: space-around;
}

.f-column {
    flex-direction: column;
}

.a-center {
    align-items: center;
}

.size-m {
    font-size: medium;
}

.p-center{
    margin: 0 auto;
}

.btn{
    letter-spacing: 1.5px;

}

.btn:hover{
    color: black;
}

.free-color{
    color: #fdeca6;
}

.busy-color{
    color: #c3c3c3;
}

.h-100vh{
    height: 100vh;
}

.max-h-100{
    max-height: 100vh;
}

.scroll{
    overflow: scroll;
}

.form-control {
    border: 2px solid #c2c4c6;
    padding: 1px 2px;
   
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    position: relative;
}

.form-control input:hover{
    cursor: pointer;
}

.form-control:focus{

    border: 2px solid #c2c4c6;
    box-shadow: none;
}

input::-webkit-calendar-picker-indicator {
    cursor: pointer;
  }

input[type="number" i] {
    padding: 0px;
}

/* ----------------------TEXT DECORATION----------------------------- */
.decorated {
    overflow: hidden;
    text-align: center;
}

.decorated>span {
    position: relative;
    display: inline-block;
}

.decorated>span:before,
.decorated>span:after {
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 2px solid;
    width: 591px;
    margin: 0 20px;
}

.decorated>span:before {
    right: 100%;
}

.decorated>span:after {
    left: 100%;
}

/* ----------------------NAVBAR----------------------------- */
.logo {
    font-family: 'Cinzel', serif;
}

.navigation {
    padding-left: 20px;
}

.navigation i {
    color: #3a3a3a;
    margin-right: -2px;
}

.navbar {
    background-color: antiquewhite;
    font-family: 'Courgette', cursive;
    box-shadow: rgb(0 0 0 / 9%) 0px 2px 1px,
        rgb(0 0 0 / 9%) 0px 4px 2px,
        rgb(0 0 0 / 9%) 0px 8px 4px,
        rgb(0 0 0 / 9%) 0px 16px 8px,
        rgb(0 0 0 / 9%) 0px 32px 16px;
    z-index: 1;
}

.navbar li {
    margin-right: 15px;
    transition: all 0.5 ease-in-out;
}


.navbar li:hover:not(.active) {
    cursor: pointer;
    transform: scale(1.1);
    overflow: hidden;

}

.nav-link:focus,
.nav-link:hover {
    color: #3a3a3a;
}

.active {
    transform: scale(1.1);
}

.active a {
    color: #3a3a3a;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.offcanvas {
    background-color: antiquewhite;
}

#home-background-container {
    height: 93vh;
    background-image: url('https://res.cloudinary.com/useriasminna/image/upload/v1654783262/462778_1_t7h5iz.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px,
        rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px,
        rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;
    position: relative;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#fade-container {
    padding: 20px 12px;

    background-color: antiquewhite;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    margin-bottom: 20px;

    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#fade-container h1 {
    font-size: 6vh;
}

.slogan {
    font-family: 'Marck Script', cursive;
    font-size: 5vh;
}

/* ----------------------LOGIN LINK ANIMATION----------------------------- */

.bck-login {
    background-color: #050301b3;
    color: antiquewhite;
    letter-spacing: 2px;
    padding: 5px;
    margin-bottom: 0;
}

.bck-login p {
    margin: 0;
    font-size: 14px;
}


.authenticate-link{
    color: #ddeda9;
    box-shadow: 0 0 0 0 rgb(234, 229, 229);
    transform: scale(1);
    animation: pulse 3s infinite;
    letter-spacing: 2px;
}
.authenticate-link:hover{
    color: #cdff28;;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(248, 222, 178, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(237, 233, 215, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(248, 222, 178, 0);
    }
}

.book-btn {
    background-color: #f64c04db;
    padding: 8px;
    color: #ffffff;
    width: 200px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;

    border-radius: 50%;
    border: 2px solid antiquewhite;

    transform: scale(0.95);
    animation: btn-pulse 2.5s infinite;
}

.book-btn:hover {

    transform: scale(1);
}

@keyframes btn-pulse {
    0% {

        box-shadow: 0 0 0 0 rgba(222, 71, 5, 0.7);
    }

    70% {

        box-shadow: 0 0 0 15px rgba(237, 233, 215, 0);
    }

    100% {

        box-shadow: 0 0 0 0 rgba(222, 71, 5, 0);
    }
}



/* ----------------------ARROWS ANIMATION----------------------------- */

.arrows-link-container {

    position: relative;
    height: 70px;
    width: 75px;

    top: 160%;
    left: 50%;
    transform: translateX(-50%);
}

.arrow {
    opacity: 0;
    position: absolute;
    left: 26%;
    top: 40%;
    transform-origin: 50% 50%;
    transform: translate3d(-50%, -50%, 0);
}

.arrow-first {
    animation: arrow-movement 2s ease-in-out infinite;
}

.arrow-second {
    animation: arrow-movement 2s 1s ease-in-out infinite;
}

.arrow:before,
.arrow:after {
    background: #000;
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
}

.arrow:before {
    transform: rotate(45deg) translateX(-23%);
    transform-origin: top left;
}

.arrow:after {
    transform: rotate(-45deg) translateX(23%);
    transform-origin: top right;
}

@keyframes arrow-movement {
    0% {
        opacity: 0;
        top: 0%;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.center-container {
    text-align: center;
}

.center-container h2 {
    margin: 8vh auto 30px;
}

#about-us img {
    height: 22vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    margin-bottom: 15px;
}

#about-us img:nth-child(2) {
    margin-top: 50px;
}

.footer {
    z-index: 1;
    background-color: antiquewhite;
    color: #3a3a3a;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

footer a {
    color: #3a3a3a;
}

footer a:hover {
    color: #3a3a3a;
}

footer i:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: #3a3a3a;
}


.auth-form {
    text-align: center;
    background-color: #140c08b0;
    padding: 50px 20px;
    color: antiquewhite;

    box-shadow: #ffffff 0px 0px 0px 2px,
        rgb(70 42 28) 0px 0px 0px 6px,
        #482b1d 0px 0px 0px 9px,
        rgb(70 42 29) 0px 0px 0px 12px,
        #ffffff 0px 0px 0px 14px;

    position: relative;
    left: 15%;
}



.auth-form h1 {
    width: 80%;
    margin: 0px auto 25px auto;
}


.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    margin: 0 auto;

}

.form-submit {
    background-color: antiquewhite;
    padding: 5px 8px;
    border: 1px solid #f6d19f;
    color: black;

    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-submit:hover {
    background-color: rgb(249, 212, 163);
}

.form-submit:focus-visible {
    outline: none;
}

.errorlist {
    font-size: smaller;
    color: burlywood;
    padding: 0px 14px;
    text-align: start;
}

.booking-error{
    padding: 0px;
    text-align: center;
}

.modal {
    background-color: #00000052;

    --bs-modal-bg: antiquewhite;
    --bs-modal-header-border-color: #adb5bd6e;
    --bs-modal-footer-border-color: #adb5bd6e;
}

.close {
    border: 1px solid #adb5bd6e;
    background-color: lightgray;
    font-size: large;
    font-weight: bold;
    padding: 0px 9px;
    border-radius: 50%;
    transition: 0.2s all;
}

.close:hover {
    background-color: rgb(195, 194, 194);
}

.btn-secondary {
    padding: 5px 15px;
    text-transform: uppercase;
    color: white;
    border: transparent;
}

#btn-submit {
    background-color: green;
}

#btn-submit:hover {
    background-color: darkgreen;
}

#btn-cancel {
    background-color: #f64c04db;

}

#btn-cancel:hover {
    background-color: #ce4205db;
}

.background-container {

    padding: 80px 0px;
}

.ilustrate-logo {
    height: 55vh;
    position: absolute;
    left: 55%;
    top: 50%;
    transform: translateY(-50%);
}

#btn-back-to-top {
    
    margin: 30px auto;
    border-radius: 50%;
    width: auto;

}


#btn-back-to-top:focus, 
#btn-back-to-top:focus-visible{
    outline: none;
} 

.btn-simple{
    border: 2px solid antiquewhite;
    color: antiquewhite;
    margin: 10px auto 30px;
    background-color: black;
}
.btn-simple:hover{
    background-color: black;

    border: 2px solid rgb(249, 212, 163);
    color: rgb(249, 212, 163);
}

.btn-simple:focus{
    background-color: black;

    border: 2px solid antiquewhite;
    color: antiquewhite;
}


/* CUSTOM ARROWS FOR INPUT TYPE NUMBER */
input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-input {
    display: inline-flex;
}

.number-input button {
    outline:none;
    -webkit-appearance: none;
    border: none;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    cursor: pointer;
    margin: 0;
    position: relative;
    padding:0;
}

.number-input button:before,
.number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 0.5rem;
    height: 2px;
    background-color: #212121;
    transform: translate(-50%, -50%);
}
.number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
    border:0;
    text-align: center;
    outline:none;
    width: inherit;
}

.error-container{
    width: auto;
    height: 40px;
}



#tableContentCollapse{
    display: none;
}

#bookingContactCollapse{
    display: none;
}

#bookingContactCollapse input{
   margin-bottom: 10px;
}

#overviewCollapse{
    display: none;
}

#flexButtons{
    width: fit-content;
}

#flexButtons button{
    margin: 0px 10px;
}

.messages{
    list-style-type: none;
    padding: 0px;
}
.alert {
    
    animation: autoHide 0s ease-in 2s forwards;
}

@keyframes autoHide {
    to {
        width:0;
        height:0;
        padding: 0px;
        border: 0px;
        overflow:hidden;
    }
}

input[type=checkbox] {
    transform: scale(1.5);
}

input[type=checkbox]:hover {
    cursor: pointer;
}

#overviewCollapse>span:first-of-type{
    color: #ddeda9;
}

.ilustrate{
    height: 45vh;
}

.table-container{
    display: grid;
    align-items: center;
    justify-items: center;
    justify-content: center;
    grid-template-columns: 30% 25% 25%;
    grid-template-rows: 29% 31% 35%;;
    overflow: hidden;
}

.table-container img {
    transform: scale(0.26);
}

.card{
    background: transparent;
    height: 66vh;
}

.form-select{
    padding: 1px 2px;
}

.form-select:focus {
    border: 2px solid #c2c4c6;
    box-shadow: none;
}
/* --------------------------------------------------- SMALL AND MEDIUM DEVICES------------------------------------------------------------------*/
@media (max-width: 992px) {


    /* ----------------------NAVBAR----------------------------- */
    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .footer {
        margin-top: auto;
    }

    .active {
        transform: scale(1.1) translateX(17px);
    }

    .navbar li:hover:not(.active),
    .navbar li:focus:not(.active) {
        transform: scale(1.1) translateX(17px);


    }

    #home-background-container {
        height: 50vh;
    }

    #fade-container h1 {
        font-size: 3.6vh;
    }

    .slogan {
        font-size: 3vh;
    }

    .content {
        box-shadow: 0px 0px 40px 40px #140c08b0;
    }

    .center-container h2 {
        margin-top: 5vh;
        width: 100%;
    }

    #about-us img {
        height: auto;
        width: 100%;
    }

    .background-container {
        padding: 40px 0px;
    }

    .auth-form {
        left: 50%;
        transform: translateX(-50%);
    }

    .form-submit:hover {
        background-color: antiquewhite;
    }

    .ilustrate-logo {
        height: 30vh;
        position: absolute;
        left: 50%;
        top: 57%;
        transform: translateX(-50%);
    }

    .ilustrate{
        height: 35vh;
    }

    .card{
        height: 50vh;
    }

    .table-container{
        grid-template-columns: 35% 30% 25%;
        grid-template-rows: 28% 29% 35%;
    }

}


/* --------------------------------------------------- SMALL DEVICES------------------------------------------------------------------*/
@media (max-width: 768px) {
    #fade-container h1 {
        font-size: 3.6vh;
    }

    .slogan {
        font-size: 3vh;
    }

    .content {
        box-shadow: 0px 0px 20px 20px #140c08b0;
    }

    .content-wrapper {
        min-height: auto;
    }

    .input-container {
        align-items: stretch;
        width: 90%;
    }

    .input-container input {

        width: 100%;
    }

    .background-container {
        padding: 20px 0px;
    }

    .auth-form {
        min-height: 80vh;
    }


    .table-container {
        grid-template-columns: 40% 30% 31%;
        grid-template-rows: 28% 31% 33%;
    }
    .table-container img {
        transform: scale(0.15);
    }

}
