{% extends "base.html" %} 
{% load static %} 
{% block content %}
<div class="row content col-10 col-lg-9">
    <div class="center-container  min-h-100">
        <div class="center-container">
            <h2>We are here for you!</h2><br>
            <div class="flex contact-responsive sp-between">
                <div class="col-12 col-lg-5">
                    <!-- Table with programm -->
                    <div class=" flex f-column a-start timetable">
                        <h5>Timetable</h5>
                        <div class="flex sp-between">
                            <div class="col flex">
                                <span><b>Monday</b></span>
                            </div>
                            <div class="flex">
                                <span>09:00-23:00</span>
                            </div>
                        </div>                  
                        <div class="flex sp-between">
                            <div class="col flex">
                                <span><b>Tuesday</b></span>
                            </div>
                            <div class="flex">
                                <span>09:00-23:00</span>
                            </div>
                        </div>  <div class="flex sp-between">
                            <div class="col flex">
                                <span><b>Wednesday</b></span>
                            </div>
                            <div class="flex">
                                <span>09:00-23:00</span>
                            </div>
                        </div>  <div class="flex sp-between">
                            <div class="col flex">
                                <span><b>Thursday</b></span>
                            </div>
                            <div class="flex">
                                <span>09:00-23:00</span>
                            </div>
                        </div>  <div class="flex sp-between">
                            <div class="col flex">
                                <span><b>Friday</b></span>
                            </div>
                            <div class="flex">
                                <span>09:00-23:00</span>
                            </div>
                        </div>  <div class="flex sp-between">
                            <div class="col flex">
                                <span><b>Saturday</b></span>
                            </div>
                            <div class="flex">
                                <span>09:00-23:00</span>
                            </div>
                        </div>  <div class="flex sp-between">
                            <div class="col flex">
                                <span><b>Sunday</b></span>
                            </div>
                            <div class="flex">
                                <span>09:00-23:00</span>
                            </div>
                        </div>  
                    </div>
                </div>
                <br>
                <!-- Google map -->
                <div class="col-12 col-lg-6">
                    <div id="map"></div>
                </div>
            </div><br>
            <!-- Contact details -->
            <div >
                <h5>You can find us on:</h5>
                    <p class="burlywood"><b>Via Cristoforo Colombo, 30, 84017 Positano SA, Italia</b></p>
                <h5>Phone number:</h5>
                    <p class="burlywood"><b>392843756994</b></p>
                <h5>Email:</h5>
                    <p class="burlywood"><b>italianissimo.contact@yahoo.com</b></p>
            
            </div><br>
        </div>
    </div>
</div>
{% endblock %}
