{% extends "base.html" %} 
{% load static %} 
{% block content %}
<div id="home-background-container">
  <div class="wrapper col-8 col-md-6 col-lg-4 flex f-column">
    <div class="row">
      <div id="fade-container">
        <div class="row">
          <div><h1 class="logo">Italianissimo</h1></div>
          <div>
            <p class="decorated"><span>Since 2010</span></p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h3 class="slogan">A taste you will remember</h3>
          </div>
        </div>
      </div>
      {% if user.is_authenticated %}
        <div class="col align-self-center">
            <a href="{% url 'booking' %}#"><button class="book-btn">Book a table</button></a>
      </div> 
      {% else %}
      <div class="col bck-login">
        <p>
          To enjoy all the features please <span><a class="authenticate-link" href="{% url 'account_login' %}"><b>LOGIN</b></a> / <a  class="authenticate-link" href="{% url 'account_signup' %}"><b>REGISTER</b></a></span>
        </p>
      </div>
      {% endif %}
        <a href="#about-us">
          <div class="arrows-link-container d-none d-lg-block">
            <div class="arrow arrow-first"></div>
            <div class="arrow arrow-second"></div>
          </div>
        </a>
    </div>
  </div>
</div>
<div class="row content col-10 col-lg-9">
  <div class="center-container" id="about-us">
    <div>
      <h2><span>Why to choose us? <i class="fas fa-globe"></i></span></h2>
      <div class="flex sp-around">
        <img
        src="{% static 'italianissimo/media/place_img.jpg' %}"
        alt="picture with one of the restaurant's saloons"
        />
        <img
        class="d-none d-lg-block"
        src="{% static 'italianissimo/media/place2_img.jpg' %}"
        alt="picture with one of the restaurant's saloons"
        />
      </div>
      <div id="about-text">
        <p>
        The light Mediterranean cuisine of our Michelin-starred Italianissimo
        restaurant is based on fresh local ingredients and inspired by the
        great culinary traditions of Naples and the Amalfi Coast. Infused by
        the leisured elegance of Positano’s dolce vita, Italianissimo is
        illuminated, in the evening, by four hundred candles that create an
        unforgettable atmosphere. 
        </p>
      </div>
    </div>
    
    <div>
      <h2><span>Our most appreciated dishes <i class="fas fa-utensils"></i></span></h2>  
    </div>
    {% if review_list.count >= 3%}
    <div>
      <h2><span>From our clients <i class="fas fa-comment-dots"></i></span></h2>  
      {% for review in review_list|slice:"0:3" %}
      <div class="home-review flex f-column a-center">
        {% for user in users %}
        {% if user.email == review.author_id %}
        <h5>{{user.get_full_name}}</h5>
        {% endif %}
        {% endfor %}
        <input type="hidden" name="rate" class="rate" value="{{review.rate}}">
        <div class="ratings-generated flex a-end "></div>
        <p><q><em>{{ review.review_text }}</em></q></p>
      </div><br>
      {% endfor %}
    </div>
    {% endif %}
  </div>
  <button
        type="button"
        class="btn btn-floating btn-lg btn-simple"
        id="btn-back-to-top"
        >
  <i class="fas fa-arrow-up"></i>
</button>
</div>
{% endblock %}