{% extends "base.html" %} 
{% load static %} 
{% block content %}
<div class="row content col-10 col-lg-9">
    <div class="center-container  min-h-100">
        <div class="center-container">
            <h2>Reviews <i class="far fa-comment-alt"></i></h2>
            <div class="flex sp-between reviews-main-container">
                <div class="col-lg-7 reviews-container">
                    {% if reviews %}
                        {% for review in review_list %}
                            <div class="row flex review">
                                <img class="col-2" src="{% static 'italianissimo/media/user.png' %}" alt="">
                                <div class="col-10" >
                                    {% for user in users %}
                                    {% if user.email == review.author_id %}
                                    <div class="flex sp-between review-header">
                                        <h6><b>{{ user.get_full_name }}</b></h6>
                                        <div class="flex sp-between">
                                            <small>{{ review.date_updated_on }}</small>
                                            <input type="hidden" name="rate" class="rate" value="{{review.rate}}">
                                            <div class="ratings-generated flex a-end "></div>
                                        </div>    
                                    </div>
                                    <div class="row">
                                        <p class="flex a-start"><q>{{ review.review_text}}</q></p>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <br>
                        {% endfor %}
                    {% else %}
                    <p><b>There are no reviews yet.</b></p>
                    {% endif %}
                    {% if is_paginated %}
                    <div class='pagination justify-content-center'>
                        {% if page_obj.has_previous %}
                        <a class="authenticate-link" href='{% url "reviews" %}?page={{ page_obj.previous_page_number }}'>Previous </a>
                        {% endif %}
                    
                        <span class='mx-4'>
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                        </span>
                    
                        {% if page_obj.has_next %}
                        <a class="authenticate-link" href='{% url "reviews" %}?page={{ page_obj.next_page_number }}' > Next</a>
                        {% endif %}
                    </div><br>
                    {% endif %}
                </div>
                {% if user.is_authenticated %}
                    {% if not user.staff %}
                    <div class="col-lg-4 flex f-column a-start review-form-container">
                        {% if reviews %}
                            {% for review in reviews %}
                                {% if review.author_id == user.email %}
                                    <p id="reviewExists" hidden></p>
                                    <div id="myReview">
                                        <div class="row">
                                            <h5>Your review:</h5><br>
                                                <div class="flex sp-between">
                                                    <input type="hidden" name="rate" class="rate" value="{{review.rate}}">
                                                    <div class="ratings-generated flex a-end "></div>
                                                    <small>{{ review.date_updated_on }}</small>
                                                </div>
                                            <p><q>{{ review.review_text }}</q></p>
                                        </div>
                                        
                                        <button class="btn btn-simple" type="button" id="displayUpdateForm">Update</button>
                                    </div>
                                    <div id="updateReviewForm">
                                        <h5>Update your review:</h5>
                                        <form action="{% url 'review_update' pk=review.pk %}" method="POST" class="flex f-column a-start">
                                            {% csrf_token %}
                                            <input type="hidden" name="rate" class="rate" value="{{review.rate}}">
                                            <div class="rating">
                                                <button type="button" class="star">★</button>
                                                <button type="button" class="star">★</button>
                                                <button type="button" class="star">★</button>
                                                <button type="button" class="star">★</button>
                                                <button type="button" class="star">★</button>
                                            </div>  
                                            <input type="hidden" id="reviewTextHidden" value="{{ review.review_text }}"></input>
                                            {{ review_form.as_p }}
                                            <button type="submit" class="btn form-submit" >Submit</button>
                                        </form> 
                                    </div>  
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <div id="addReviewForm">
                            <h5>Add your review:</h5>
                            <form action="" method="POST" class="flex f-column a-start">
                                {% csrf_token %}
                                <div class="rating">
                                    <button type="button" class="star">★</button>
                                    <button type="button" class="star">★</button>
                                    <button type="button" class="star">★</button>
                                    <button type="button" class="star">★</button>
                                    <button type="button" class="star">★</button>
                                </div>  
                                {{ review_form.as_p }} 
                                <button type="submit" class="btn form-submit" >Submit</button>
                            </form> 
                        </div>
                        {% if messages %}
                            {% for message in messages %}
                                {% if forloop.last %}
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                <div class="alert alert-success" role="alert" >
                                    {{ message }}
                                </div>
                                {% else %}
                                <div class="alert alert-danger" role="alert" >
                                    {{ message }}
                                </div>
                                {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}               
                    </div>
                    {% else %}
                        <p>As a staff member, you can only read the reviews. Enjoy!</p>
                    {% endif %}
                {% else %}
                    <p>If you want to add or edit your review, please <span><a class="authenticate-link" href="{% url 'account_login' %}"><b>LOGIN</b></a> / <a  class="authenticate-link" href="{% url 'account_signup' %}"><b>REGISTER</b></a></span>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}



